    <h2> Music List </h2>

    <table class="table table-stripped"> <!--Bootstrap table-->
        <thead>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Duration</th>
            <th>Rating</th>
            <th>Release Date</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let music of musics"> <!--Angular Iterate-->
            <td>{{music.coverUrl}}</td>
            <td>{{music.id}}</td>
            <td>{{music.name}}</td>
            <td>{{music.artist}}</td>
            <td>{{music.durationMS}}</td>
            <td>{{music.rating}}</td>
            <td>{{music.releaseDate}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>